<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
    <title>{% block title %}<!-- Placeholder for Title -->{% endblock %}</title>
        {% block head %}
        <!-- Placeholder for Other Imports -->
        {% endblock %}
</head>
<body>
    <div id="heading"><h1>{% block heading %}{% endblock %}</h1></div>
    <div id="content">
        {% block content %}
        <!-- Placeholder for Page Content -->
        {% endblock %}
    </div>
</body>